$pageWidth: 210mm;
$pageHeight: 297mm;
$marginTop: 1.4cm;
$marginLeft: 1cm;
$marginRight: 1cm;
$marginBottom: 1cm;
@mixin page() {
  width: $pageWidth;
  height: $pageHeight;
  display: block;
  border: #dedede;
  border-radius: 3px;
  box-shadow: 0px 3px 7px #aaaaaa;
  margin: 6mm auto;
  position: relative;
  overflow: hidden;

  &:first-child {
    margin-top: 12mm;

  }
}

@mixin page-flow() {
  -webkit-flow-from: main-flow;
  width: $pageWidth - $marginLeft - $marginRight;
  height: $pageHeight - $marginTop - $marginBottom;
  position: absolute;
  top: $marginTop;
  left: $marginLeft;

}

@mixin page-header() {
  position: absolute;
  width: $pageWidth;
  height: $marginTop;
}

@mixin page-footer() {
  position: absolute;
  width: $pageWidth;
  height: $marginBottom;
  bottom: 0;
}

#a-printing-page-source {
  -webkit-flow-into: main-flow;
}

.a-printing-root {
  .a-printing-pages {
    .a-printing-page {
      @include page();
      .a-printing-page-flow {
        @include page-flow();
      }
      .a-printing-page-header {
        @include page-header();
      }
      .a-printing-page-footer {
        @include page-footer();
      }
    }
  }
}

#__bs_notify__ {
  display: none !important;
}

@media print {
  @page {
    margin: 0 !important;
  }
  html {
    //background: red;
    margin: 0 !important;
  }
  body {
    margin: 0 !important;
  }
  html, body {
    margin: 0 !important;
    padding: 0 !important;
  }
  .a-printing-root {
    margin: 0 !important;
    .a-printing-pages {
      margin: 0 !important;
      .a-printing-page {
        page-break-inside: avoid;
        //background: pink;
        margin: 0 !important;
        box-shadow: none;
        border: none;
        border-radius: 0;
        overflow: hidden;
        .a-printing-page-header{
          //background: #46c;
        }
        .a-printing-page-footer{
          //background: yellow;
        }
        
      }
    }
  }
}