.a-printing-page-header-content {
  font-size: 2em;
  text-align: center;
  color: #F54747;
  padding-top: 2mm;
}

.a-printing-page-footer-content {
  color: #0b97c4;
  padding: 3mm;
}

#a-printing-page-source{
  font-size: 15pt;
}